:root {
  --color-dark-green: #2f4f4f;
  --color-beige: #f5f5dc;
  --color-brown: #8b4513;
  --color-white: #ffffff;
  --font-heading: var(--font-montserrat);
  --font-body: var(--font-lora);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-dark-green);
  background: var(--color-beige);
  font-family: var(--font-body), serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
